.cadastro-card {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;

}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cadastro-card form {
    display: flex;
    flex-direction: column;

}

.btn {
    margin-top: 10px;
    background-color: #6a5acd;
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.titulo-card {
    text-align: center;
    color: #6a5acd;
}