.logo {
  width: 10em;
  height: 3em;
  max-width: 200px;
}
.bg-purple {
  background-color: #8253c6;
}
.btn-purple{
  background-color: #6439a0;
  color: #fff;
  width: 12em;
}

.btn-login {
  border: 1px solid #8253c6;
  background-color: transparent;
  color: #ffff;
  font-weight: bold;
}

.btn-login:hover {
  background-color: #8253c6;
  transition: ease 0.5s;
  color: #ffff;
}

.btn-cadastro {
  background-color: #8253c6;
  color: #ffff;
}

.btn-cadastro:hover {
  background-color: #6439a0;
  color: #fff;
}


